<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>50559409494-s41e3bqn6djt3kvv5jef04nd30mlto52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50559409494-s41e3bqn6djt3kvv5jef04nd30mlto52</string>
	<key>API_KEY</key>
	<string>AIzaSyCwsKWlBmV_rnUqe1RDwKVMFKYBv81kuTM</string>
	<key>GCM_SENDER_ID</key>
	<string>50559409494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amyshen.MDBSocials</string>
	<key>PROJECT_ID</key>
	<string>mdb-socials-f6c30</string>
	<key>STORAGE_BUCKET</key>
	<string>mdb-socials-f6c30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:50559409494:ios:f2d7c10ba2f05a9d</string>
	<key>DATABASE_URL</key>
	<string>https://mdb-socials-f6c30.firebaseio.com</string>
</dict>
</plist>